#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: left;
}
nav {
    display: flex;
    justify-content: space-around; 
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: rgb(185, 243, 224);
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    color: white;
    text-align: center;
}
.button-box {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: rgb(145, 177, 235);
    grid-column: 1/12;
    grid-row: 4/10;
}
body {
    font-family: "Josefin Sans", 'Gill Sans MT', 'Trebuchet MS';
    font-size: 22px;
    background-color: azure;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    font-family: "Trade Winds", 'Gill Sans MT', 'Trebuchet MS';
    background-color: rgb(83, 180, 187);
}
.logo {
    width: 150px;
    border-radius: 200px;
}
.book, .join {
    font-size: 18px;
    text-align: center;
    color: #0c0101;
    background-color: rgb(37, 144, 211);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: aliceblue;
}
.msg {
    background-color: rgb(231, 229, 229);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: rgb(83, 180, 187);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.home-title {
    font-family: "Trade Winds", Impact, 'Gill Sans MT', 'Trebuchet MS';
    font-size: 2em;
    margin-top: 10px;
}
.rivers-card, .camping-card, .rapids-card, .raft-card {
    margin: 200px 0 ;
}
.card-img   {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.raft-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7354;
}
.msg {
    grid-column: 6/11;
    grid-row: 6/7;
}



.river-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
}
#backgrounds {
    display: grid;
    grid-template-columns: auto;
    height: 425px;
    background-color: rgb(145, 177, 235);
    grid-column: 1/12;
    grid-row: 7/10;
}
.home-river-title {
    font-family: "Trade Winds", Impact, 'Gill Sans MT', 'Trebuchet MS';
    font-size: 3em;
    
    text-align: center;
}
.one-card, .three-card, .five-card, .seven-card {
    margin: 200px 0 ;
}
.card-img   {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.one-card {
    grid-column: 1/3;
    grid-row: 1/4;
}
.three-card {
    grid-column: 3/6;
    grid-row: 1/4;
}
.five-card {
    grid-column: 6/9;
    grid-row: 1/4;
}
.seven-card {
    grid-column: 9/12;
    grid-row: 1/4;
}
.excursions {
    width: 100%;
    grid-column: 2/9;
    grid-row: 2/4;
    box-shadow: 5px 5px 10px #6f7354;
}
.msg {
    grid-column: 6/11;
    grid-row: 6/7;
}
.msg {
    background-color: rgb(231, 229, 229);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.join {
    font-size: 18px;
    text-align: center;
    color: #0c0101;
    background-color: rgb(37, 144, 211);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    background-color: aliceblue;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    #hero-msg h1{
        color:black;
    }
}
